html{
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

.navbar__list li{
    position: relative;
    padding: 0;
}

.navbar__list li a::after{
    content: "";
    height: 2px;
    width: 100%;
    background: #ececee;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
}

.navbar__list li a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* KEYFRAMES */

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slip-up{
    from{
        transform: translateY(100px)
    }
    to{
        transform: translateY(0);
    }
}

@keyframes slip-right{
    from{
        transform: translateX(100px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes scale{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.030);
    }
}
@keyframes scale2{
    0%{
        transform: scale(1.030);
    }

    100%{
        transform: scale(1);
    }
}

/* Style CSS */

.overlay{
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;

    background: rgba(225, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(30, 40, 135, 0.4);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    display: none;
}

#toggle-menu:checked ~ .overlay{
    display: block;
}


.hero__home h1{
    animation: fade 0.8s ease-in, slip-up 1.2s ease-out;
}
.hero__home p{
    animation: slip-up 1.4s ease-out;
}

.hero__spidy,
.btn {
    animation: slip-up 1.6s ease-out;
}

.btn:hover{
    border:  1px solid #ececec9d;
    box-shadow: 0 7px 50px 10px #0000006d;
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

.content--spidy:hover{
    border: 1px solid #ececeea0;
    box-shadow: 0 7px 50px 10px #0000006d;
    transform: scale(1.015);
    transition: all 0.7s ease;
    text-align: center;
}

.villans__cart:hover{
    animation: scale 1.2s ease-in forwards;
    border: 1px solid #ececeea0;
    box-shadow: 0 7px 50px 10px #0000006d;
}

.btn--login {
    transition: all 0.3s ease-out;
}

.btn--login:hover{
    background: #4c0404;
    transition: all 0.3s ease-in;
}

.btn--register {
    transition: all 0.3s ease-out;
}

.btn--register:hover {
    background: #03022d;
    transition: all 0.3s ease-in;
}

/* login CSS*/

.login h1{
    animation: fade 0.8s ease-in, slip-right 1s ease-in;
}

.log{
    animation: slip-right 1.3s ease-in-out
}

.password{
    animation: slip-right 1.6s ease-in-out
}

.login__menu a{
    animation: slip-right 1.9s ease-in-out
}

.log:hover,
.password:hover,
.login__menu a:hover{
    border:  1px solid #ececec9d;
    box-shadow: 0 7px 50px 10px #0000006d;
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}


/* Register CSS */

.main__register h1{
    animation: fade 0.8s ease-in, slip-right 0.8s ease-in;
}

#nombre-register{
    animation: slip-right 1s ease-in-out;
}
#apellido-register{
    animation: slip-right 1.2s ease-in-out;
}
#mail-register{
    animation: slip-right 1.4s ease-in-out;
}
#pass-register{
    animation: slip-right 1.6s ease-in-out;
}
#pass-2-register{
    animation: slip-right 1.8s ease-in-out;
}

.register__box a{
    animation: slip-right 2s ease-in-out;
}

.register__box input:hover,
.register__box a:hover{
    border: 1px solid #ececec9d;
    box-shadow: 0 7px 50px 10px #0000006d;
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

