
@media (max-width:1250px){
    .hero__spidy img {
        width: 350px;
    }

    .villans__cart {
        display: flex;
        justify-content: space-around;
        gap: 10px;
    }
}



@media (max-width: 992px) {

    .navbar{
        gap: 10px;

    }

    .navbar__list{
        position: absolute;
        top: 65px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background: #03022d;
        border: 2px solid var(--primary);
        border-top: none;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        gap: 25px;
        padding:  45px 30px;
        z-index: 2;
        transform: translateX(200%);
        transition: all 0.4s ease;
    }

    .menu-label{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
        cursor:pointer;
        order: 2;
        position: relative;
    }

    .menu-label span{
        transition: transform 0.3s ease;
    }
    
    .menu-label-span-1 {
        
        width: 25px;
        height: 1.5px;
        background: #ceb3b3;
    }

    .menu-label-span-2{
        width: 15px;
        height: 1.5px;
        background: #ceb3b3;
    }

    .menu-label-span-3{
        width: 5px;
        height: 1.5px;
        background: #ceb3b3;
    }

    #toggle-menu:checked ~ .navbar__list{
        transform: translateX(0);
    }

    
    #toggle-menu:checked ~ .menu-label>.menu-label-span-1{
        position: absolute;
        bottom: -4px;
        left: -15px;
        width: 15px;
        transform: rotate(90deg);
    }

    #toggle-menu:checked ~ .menu-label>.menu-label-span-2{
        position: absolute;
        bottom: -9px;
        left: -17px;
        width: 5px;
        transform: rotate(90deg);
    }
    

    #toggle-menu:checked ~ .menu-label>.menu-label-span-3{
        position: absolute;
        bottom: 1px;
        left: -13px;
        width: 25px;
        transform: rotate(90deg);
    }

    /* Style CSS */

    .hero__home h1{
        font-size: 40px;
    }

    .hero__home p{
        font-size: 25px;
    }
    
    .hero__spidy img{
        width: 300px;
    }
    
    .villans__cart img{
        width: 300px;
    }

    iframe{
        width: 40%;
    }
}    

@media (max-width:792px) {
    
    #hero{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        gap: 50px;
    }

    .hero__home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        
    }

    .content{
        display: flex;
        flex-wrap: wrap;
    }
    
    .content--spidy{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .content--spidy p{
        font-size: 13px;
    }

    .content--spidy img{
        width: 30%;
    }

    .hero__home h1{
    font-size: 40px;
    }

    .hero__home p{
    font-size: 20px;
    }

    .villans__cart{
        gap: 30px;
    }

    .villans__cart img {
        width: 240px;
    }

    iframe{
        max-height: 300px;
        
    }

    /* Login CSS */

    .login{
        padding: 100px 30px;
        gap: 30px;
    }

    .login__menu {
        padding: 30px 0;
    }
    .login h1 {
        text-align: center;
    }

}

@media (max-width:596px) {

    .hero__home h1{
        font-size: 35px;
        text-align: center;
    }

    .hero__spidy{
        display: none;
    }

    .content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .content--spidy{
        width: 100%;
        height: 200px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .content--spidy img{
        width: 40px;
    }

    .content--spidy h3{
        font-size: 17px;
    }

    .villans__cart{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }

    .villans__cart img{
        width: 200px;
    }

    .villans__cart--info {
        display: flex;
        flex-direction: column;
        max-width: 590px;
        width: 100%;
    }
    .villans__cart--info p{
        font-size: 15px;
        width: 70%;
    }

    .buitre>.villans__cart--info,
    .rhino>.villans__cart--info,
    .shocker>.villans__cart--info{
    order: 2;
    }

    /* Register CSS */
    
    .main__register{
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .main__register h1{
        text-align: center;
    }

    .register{
        padding: 30px 0;
    }

}

@media (max-width:480px) {

    .content--spidy{
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .content--spidy img{
        width: 40px;
    }

    .content--spidy h3{
        font-size: 16px;
    }

    .content--spidy p{
        font-size: 13px;
    }

    .btn{
        max-width: 140px;
    }
    
    #about{
        font-size: 15px;
    }

    iframe{
        height: 200px;
    }

    /* Register CSS */

    .main__register h1{
        text-align: center;
    }

}

@media (max-width: 370px) {
    #location{
        padding:0 15px 40px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero__home h1{
        font-size: 30px;
        text-align: center;
        padding: 0 2px;
    }
    .hero__home p{
        font-size: 18px;
        font-weight: 400;
    }

    .home__buttom{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .content{
        display: flex;
        flex-direction: column;
    }

    .content--spidy{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px ;
    }
    .content--spidy p{
        font-size: 13px;
    }

    .content--spidy h3{
        font-size: 16px;
    }

    .content--spidy img{
        width: 35px;
    }

    .follow h3 {
        font-size: 23px;
    }

    iframe{
        height: 150px;
        width: 200px;
    }

    .footer__spidy img{
        width: 50px;
    }

    /* Login CSS */

    .header img{
        width: 150px;
    }

    .login h1{
        font-size: 30px;
    }

    .login__menu a,
    .login__menu input{
        width: 200px;
    }

    .footer__spidy--login p{
        padding: 5px;
        text-align: center;
    }

    /* Register CSS */

    .main__register h1{
        font-size: 35px;
    }
    .register__box a,
    .register__box input{
        width: 200px;
    }

    .footer__spidy--register p{
        padding: 5px;
        text-align: center;
    }
}

@media (max-width:282px) {
    .header img{
        width:  150px;
    }

    .content--spidy{
        padding: 10px;
    }

    .content--spidy img{
    width: 30px;
    }
    .content--spidy h3{
    font-size: 15px;
    }
    .content--spidy p{
    font-size: 12px;
    }

    #location{
        display: flex;
        flex-direction: column; gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .footer__spidy p{
        text-align: center;
        padding: 10px ;
    }
}